.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  height: 100%;
}

.param-selector {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
}
