.params-selector__form {
  display: flex;
  background: dimgrey;
  flex-direction: row;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.params-selector {
  position: fixed;
  width: auto;
}

/* DATE SELECTOR */
.date-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.react-datepicker-wrapper {
  width: auto !important;
}

input[type="text"] {
  width: 100px;
  height: 30px;
  margin-left: 0px;
  display: inline-block;
  border: 2px solid #e0e0e0;
  border-left: none;
  border-radius: 0 6px 6px 0;
  box-sizing: border-box;
  outline: none;
  text-align: center;
}

/* CAMERA SELECTOR */
.camera-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
}

.camera-selector__label {
  margin: 0px;
  width: 80px;
  height: 30px;
  background: #e0e0e0;
  border-radius: 6px 0 0 6px;
}

.camera-selector__label p {
  margin: 0;
  position: absolute;
  font-size: 14px;
  transform: translate(15px, 6px);
}

.camera-selector__select {
  width: 100px;
  height: 30px;
  margin-left: 0px;
  display: inline-block;
  border: 2px solid #e0e0e0;
  border-left: none;
  border-radius: 0 6px 6px 0;
  box-sizing: border-box;
  outline: none;
  text-align: center;
}

/* INFO */
.date-selector__info, .camera-selector__info {
  height: 17px;
  width: 15px;
  margin-left: 0px;
  background-color: #e0e0e0;
  font-size: 12px;
  font-weight: 500;
  cursor: default;
  border-radius: 0 50% 50% 0;
}

/* SEARCH */
.search-button {
  background: rgb(50 76 126);
  width: 75px;
  height: 30px;
  font-weight: 600;
  border: none;
  border-left: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.search-button:hover {
  background: rgb(43 66 108);
  box-shadow: 0px 0px 6px -2px rgb(50 76 126);
}

@media (max-width: 560px) {
  .params-selector__form {
    flex-direction: column;
  }

  .camera-selector {
    margin: 5px 0;
  }

  .camera-selector__label {
    width: 130px;
  }

  .search-button {
    width: 245px;
  }

  .date-selector__info-tooltip, .camera-selector__info-tooltip {
    width: 245px;
  }
}

/* Tooltip text */
.date-selector__info-tooltip, .camera-selector__info-tooltip {
  visibility: hidden;
  width: 525px;
  height: 134px;
  top: 43px;
  background-color: #1c1c1cc4;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 10px;
}

.date-selector__info:hover + .date-selector__info-tooltip {
  visibility: visible;
}

.date-selector__info:active + .date-selector__info-tooltip {
  visibility: visible;
}

.camera-selector__info:hover + .camera-selector__info-tooltip {
  visibility: visible;
}

.camera-selector__info:active + .camera-selector__info-tooltip {
  visibility: visible;
}

