.image-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
}

.main {
  width: 90%;
  margin-top: 70px;
  margin-bottom: 60px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.more-images {
  width: 50%;
  padding: 10px;
  margin: 30px;
  font-weight: 600;
  border: none;
  font-size: 16px;
  border-left: none;
  border-radius: 6px;
  cursor: pointer;
}

.more-images:hover {
  background: rgb(220, 220, 220);
  box-shadow: 0 0 5px -2px white;
}

@media (max-width: 1281px) {
  .image-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 801px) {
  .image-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 510px) {
  .image-grid {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media (max-width: 550px) {
  .main {
    margin-top: 140px;
  }
}
