.App {
  text-align: center;
  display: flex;
}

img {
  height: 99.63vh;
  object-fit: contain;
}

.image-viewer {
  width: 70%;
}

.param-selector {
  width: 30%;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}